#number{
  font-size: 15px;
}

.names{
  font-size: 10pt;
  font-family: sans-serif;
}

.qvals{
  font-size: 7pt;
  font-family: times;
}


.episodes{
  font-size: 20px;
  font-family: sans-serif;
}

.thing{
  height: 17vh;
  width: 10vw;
  border-radius: 4px;
  margin: 0.5%;
  font-size: 2vw;
}

.thing:hover:enabled {
  background-color: Grey;
}

.slider{
  opacity: 0.7
}

.slider:hover {
  opacity: 1;
}
